.footer {
    background-color: #000000;
    padding: 20px;
    position: relative;
    color: white !important; 
    text-decoration:none;
}

.footer-div ul li a , .footer-div address a{
    text-decoration: none;
    color: white !important; 
}

.footer .footer-div {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    padding: 10px;
}
.footer .footer-div h3 {
    margin-top: 0;
}
.footer .map {
    width: 100%;
    height: 400px;
}
